<footer>
    <p class="model-info flex" style="justify-content: space-evenly; align-items:flex-start;">
        <a href='https://www.standardthera.com/'><img src="assets/st-logo.png" alt="ST-logo" width="40px"></a>
        <a href='mailto:hello@standardthera.com' class="fa fa-envelope"></a>
        
        <a href='https://www.linkedin.com/company/standardtherapeutics' class="fa fa-linkedin"></a>
        <a href='https://www.instagram.com/standardthp' class="fa fa-instagram"></a>
          
    </p>
    <h3 style="color: var(--primary-color); ">Standard Therapeutics &copy; 2026</h3>
    <a href='https://onitomed.github.io'><h4 style="color: #004AAB; margin: 25px 0 50px 0;">Powered by ONITO</h4></a>
</footer>