a {
    padding: 10px;
    margin: 0 10px;
    font-size: 1.8rem;
}

.selected {
    font-weight: bold;
    color: #7ED958;
   
}

a:hover {
    border-bottom: 2px var(--secondary-color) solid;
}

@media screen and (max-width: 768px) {
    
    
    a:hover {
        border-bottom: none;
    }
     
}